#include <dt-bindings/led/led.h>
#include "sofle.dtsi"

/* --- 1. DISABLE CONFLICTS --- */
&left_encoder { status = "disabled"; };
&right_encoder { status = "disabled"; };

/* DISABLE I2C0 (Resource 0) to save it for Nice!View */
&pro_micro_i2c { status = "disabled"; };

/* DISABLE OLD OLED LABEL */
&oled { status = "disabled"; };

&uart0 { 
    status = "disabled"; 
};

/* --- 2. MOVE TRACKPAD TO I2C1 (Resource 1) --- */
&i2c1 {
    compatible = "nordic,nrf-twi";
    status = "okay";
    
    /* Map to Standard Pins (SDA=17, SCL=20) */
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    
    /* Trackpad Lives Here Now */
    tps43: iqs5xx@74 {
        compatible = "azoteq,iqs5xx";
        status = "okay";
        reg = <0x74>;
        reset-gpios = <&pro_micro 4 GPIO_ACTIVE_LOW>;
        rdy-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>;
        one-finger-tap;
        press-and-hold;
        press-and-hold-time = <250>;
        two-finger-tap;
        scroll;
        natural-scroll-x;
        bottom-beta = <15>;
        stationary-threshold = <5>;
        switch-xy;
    };
};

/* --- 3. PIN DEFINITIONS --- */
&pinctrl {
    /* I2C1 Pins */
    i2c1_default: i2c1_default {
        group1 { psels = <NRF_PSEL(TWIM_SDA, 0, 17)>, <NRF_PSEL(TWIM_SCL, 0, 20)>; };
    };
    i2c1_sleep: i2c1_sleep {
        group1 { psels = <NRF_PSEL(TWIM_SDA, 0, 17)>, <NRF_PSEL(TWIM_SCL, 0, 20)>; low-power-enable; };
    };

    /* Custom Nice!View Pins (D21/D20) */
    nice_view_custom_pins: nice_view_custom_pins {
        group1 { psels = <NRF_PSEL(SPIM_SCK, 0, 31)>, <NRF_PSEL(SPIM_MOSI, 0, 29)>; };
    };
};

/* --- 4. CONFIGURE NICE!VIEW (SPI0) --- */
&nice_view_spi {
    /* Use Custom Pins */
    pinctrl-0 = <&nice_view_custom_pins>;
    /delete-property/ pinctrl-1; /* No Sleep */
    pinctrl-names = "default";
    cs-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
};

/* --- 5. LISTENERS --- */
/ {
    tps43_listener { compatible = "zmk,input-listener"; device = <&tps43>; };
    right_input_listener { compatible = "zmk,input-listener"; device = <&right_trackpad_split>; };
};
