#include <dt-bindings/led/led.h>
#include "sofle.dtsi"  /* <--- Includes the Split Pipe & LEDs */

&pro_micro_i2c {
    status = "okay";

    /* 1. Local Trackpad (TPS65 hardware using TPS65 config) */
    tps65: iqs5xx@74 {
        compatible = "azoteq,iqs5xx";
        status = "okay";
        reg = <0x74>;
        reset-gpios = <&pro_micro 4 GPIO_ACTIVE_LOW>;
        rdy-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>;

        /* Settings */
        one-finger-tap;
        press-and-hold;
        press-and-hold-time = <250>;
        two-finger-tap;
        scroll;
        natural-scroll-x;
        bottom-beta = <15>;
        stationary-threshold = <5>;
        
        
        /* NOTE: If you patch the driver later, uncomment these: */
        /* x-resolution = <3072>; */
        /* y-resolution = <2048>; */
    };

    /* 2. OLED Display - DISABLED (Critical for I2C stability) */
    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        status = "disabled"; 
        reg = <0x3c>;
        /* Config ignored when disabled */
    };
};

/* --- SPLIT BINDING (SLAVE LOGIC) --- */
/* Binds the hardware to the pipe defined in custom.dtsi */
&right_trackpad_split {
    device = <&tps65>;
};

/* No listeners here on the right side! */
